[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
pyxel = "*"

[requires]
python_version = "3"

[scripts]
herobo = "python herobo/herobo.py"
